@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 95%;
    margin: 0 auto;
    /* background-color: #55cfae; */
    background-color: #399179;
}
.first{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.allDet:nth-child(odd){
    background-color: white;
    color : #55cfae;
}
.allDet:nth-child(even){
    background-color: #55cfae;
    border: 2px solid white;
    color : white;
}